# Workflow to render README.Rmd weekly and on push
on:
  push:
    branches: [main, master]
    paths:
      - README.Rmd
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

name: render-readme

jobs:
  render-readme:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install Linux system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgdal-dev libproj-dev libgeos-dev libudunits2-dev
          sudo apt-get install -y libmagick++-dev libglpk-dev
          sudo apt-get install -y libharfbuzz-dev libfribidi-dev

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rmarkdown, 
            any::httr, 
            github::drmowinckels/freesurfer@refactor,
            local::.
          needs: build

      - name: Render README
        run: rmarkdown::render("README.Rmd", output_format = "github_document")
        shell: Rscript {0}

      - name: Commit results
        run: |
          git config --local user.name "$GITHUB_ACTOR"
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add README.md
          git commit -m 'Re-render README.Rmd' || echo "No changes to commit"
          git push origin || echo "No changes to push"
